#holder {
    position: absolute;
    top: 30%;
    left: 45%;
}
#text {
    text-align: center;
    color: white;
    font-family: arial;
}
input {
    text-align: center;
    margin: 5px;
    clear: both;
    float: left;
    background: none;
    border-color: #FFFFFF;
    width: 15vw;
    height: 25px;
    color: #FFFFFF;
    border:1px solid #FFFFFF;
}
input::placeholder {
    color: #FFFFFF;
}
input:focus {
    outline-width: 0;
}